{% extends 'base.html' %}

{% block title %} ChalkRoll {% endblock %}

{% block content %}

<header>
  <hgroup>
    <h1>ChalkRoll Image Processing</h1>
    <h2></h2>
  </hgroup>
</header>

<main>

  Upload an image file (JPG, PNG).

  <hr/>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">

    <fieldset>
      <legend>Machine type:</legend>
      <div>
        <input type="radio" id="radio_klipper" name="machine_type" value="klipper" checked />
        <label for="radio_klipper">Klipper</label>
      </div>
      <div>
        <input type="radio" id="radio_fluidnc" name="machine_type" value="fluidnc" />
        <label for="radio_fluidnc">FluidNC</label>
      </div>
    </fieldset>

  
    <fieldset>
      <legend>Other options:</legend>
      <div>
        <input type="checkbox" id="checkbox_tripplescrubbing" name="triplescrubbing" value="1">
        <label for="triplescrubbing">Triple scrubbing</label><br>
      </div>
    </fieldset>

    <input type="submit">
  </form>
</main>

{% endblock %}